@model Afpetit.Models.Menu

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutResto.cshtml";
    Afpetit.Models.Restaurant restaurant = (Afpetit.Models.Restaurant)ViewBag.Restaurant;
}


<div class="card-heading"></div>
<div class="card-body">
    <h2 class="title">Ajouter un menu</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="input-group">
            @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "input--style-2 col-12", @placeholder = "Nom" } })
        </div>
        <div class="input-group">
            @Html.EditorFor(model => model.Prix, new { htmlAttributes = new { @class = "input--style-2 col-12", @placeholder = "Prix" } })
        </div>
        <div class="p-t-30">
            <button class="btn btn--radius btn--green" type="submit">Ajouter</button>
            <a class="btn btn--radius btn--red" href="@Url.Action("Index","Menus")">Retour</a>
        </div>
    }
</div>

