@model Afpetit.Models.Menu

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="pt-6">Details</h2>

<div>
    @{
        foreach (var categorie in Model.Categories)
        {
            List<SelectListItem> MesDLL = (List<SelectListItem>)ViewData["cat" + categorie.IdCategorie];
            <div>@categorie.Nom</div>
            @Html.DropDownList("cat"+categorie.IdCategorie,MesDLL,"Slectionner",new { @class="form-control" })
        }
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdMenu }) |
    @Html.ActionLink("Back to List", "Index")
</p>
