body {
    padding-top: 60px;
    padding-bottom: 0px;

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.masthead {
    height: 100vh;
    min-height: 50px;
    max-height: 300px;
    background-image: url('../Images/fond-site.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}
.imagebandeau {
    height: 250px;
    background-position: center;
    background-size: cover;
}
.imagebandeaudetail {
    height: 350px;
    background-position: center;
    background-size: cover;
}

/*Onglet page index*/
#Tab1 .tab-content {
    color: white;
    background-color: #428bca;
    padding: 5px 15px;
}
#Tab1 .nav-pills > li > a {
    border-radius: 0;
}

.flex-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.active-purple .fa, .active-purple-2 .fa {
    color: #ce93d8;
}
.active-purple-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #ce93d8;
    box-shadow: 0 1px 0 0 #ce93d8;
}
.active-purple input[type=text] {
    border-bottom: 1px solid #ce93d8;
    box-shadow: 0 1px 0 0 #ce93d8;
}

