@model Afpetit.Models.Restaurant

@{
    Layout = "../Shared/_LayoutResto.cshtml";
    ViewBag.Title = "Connexion";
    string Message = ViewBag.Message;
}

<div class="card-heading" style="background: url('../../Images/network-4851119_640.jpg') top left/cover no-repeat"></div>
<div class="card-body">
    <h2 class="title">Ajouter un menu</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        if (Message != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Vous avez un message : </strong> @Message
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <div class="input-group">
            @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "input--style-2 col-12", @placeholder = "Login" } })
        </div>
        <div class="input-group">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "input--style-2 col-12", @type = "password" , @placeholder = "Password" } })
        </div>
        <div class="p-t-30">
            <button class="btn btn--radius btn--green" type="submit">Ajouter</button>            
        </div>
    }
</div>